<section class="contact-book-wrapper">
  <h1 class="title">📖 CONTACTS</h1>
  <app-new-contact-form />
  <div class="filters">
    <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">
      All
    </button>
    <button
      (click)="changeFilter('contacted')"
      [class.active]="filter() === 'contacted'"
    >
      Contacted
    </button>
    <button
      (click)="changeFilter('uncontacted')"
      [class.active]="filter() === 'uncontacted'"
    >
      Uncontacted
    </button>
  </div>

  <ul class="contact-list">
    @for (contact of contactList(); track contact.id) {
    <app-contact-card [contact]="contact"></app-contact-card>
    }
  </ul>
</section>
