<section class="contact-book-wrapper">
  <h1 class="title">📖 CONTACTS</h1>
  <div class="new-contact">
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Company" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Phone" />
    <textarea type="text" placeholder="Comment" rows="5"></textarea>
    <button>+</button>
  </div>
  <div class="filters">
    <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">
      All
    </button>
    <button
      (click)="changeFilter('contacted')"
      [class.active]="filter() === 'contacted'"
    >
      Contacted
    </button>
    <button
      (click)="changeFilter('uncontacted')"
      [class.active]="filter() === 'uncontacted'"
    >
      Uncontacted
    </button>
  </div>

  <ul class="contact-list">
    @for (contact of contactList(); track contact.id) {
    <app-contact-card [contact]="contact"></app-contact-card>
    }
  </ul>
</section>
