<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contact-book-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/58b528f6-054e-4b9b-8aab-100824a705ce/resourceGroups/contact-book/providers/Microsoft.Web/sites/contact-book-API</ResourceId>
    <UserName>$contact-book-API</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://contact-book-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>